video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.openbanking-container {
  /* background: url('/images/Image10.jpeg') center center/cover no-repeat; */
  background-color: #394b66;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 16px;
  margin-left: 0%;
  margin-right: 0%;
}

.openbanking-container > h1 {
  color: #fff;
  font-size: 60px;
  margin-top: 0px;
}
.openbanking-container > img{
  height: 35%;
  width: 100%;
  border: 2px solid;
  border-color: #fff;
  display: block;
  justify-content: center;
  align-items: center;

}
.open-article-container > h3 {
  color: black;
  font-size: 4  0px;

}
.open-article-container {

  background-color: #fff;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 0%;
  margin-right: 0%;
}
.open-article-container > p {
  margin-top: 8px;
  color: black;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.openbanking-btns {
  margin-top: 32px;
}

.openbanking-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {

  .openbanking-container {
    height: 80vh;
  }
  .openbanking-container > img {
    height: 30%;
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;

  }
  .openbanking-container > h1 {
    font-size: 60px;
    margin-top: 0px;
  }
  .open-article-container {

    background-color: #fff;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    padding: 16px;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-device-width: 897px) and (max-device-width: 1024px) and (orientation : landscape) {

  .openbanking-container {
    height: 280vh;
  }
  .openbanking-container > img {
    height: 15%;
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;

  }
  .openbanking-container > h1 {
    font-size: 60px;
    margin-top: 0px;
  }
  .open-article-container {

    background-color: #fff;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    padding: 16px;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 896px) and (orientation : portrait){
  .openbanking-container {
    height: 600vh;
  }
  .openbanking-container > h1 {
    font-size: 50px;
    margin-top: 0px;
  }

  .openbanking-container > p {
    font-size: 30px;
  }
  .openbanking-container > img {
    height: 5%;
    width: 60%;
    border: 2px solid;
    border-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .open-article-container {

    background-color: #fff;
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    padding: 16px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 896px) and (orientation : landscape){
  .openbanking-container {
    height: 570vh;
  }
  .openbanking-container > h1 {
    font-size: 50px;
    margin-top: 0px;
  }

  .openbanking-container > p {
    font-size: 15px;
  }
  .openbanking-container > img {
    height: 10%;
    width: 60%;
    border: 2px solid;
    border-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .open-article-container {

    background-color: #fff;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    padding: 120px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
